body {
  background-color: #f3f3f3;
  font-family: sans-serif;
}

h1 {
  color: #ffae00;
  text-align: center;
}

p {
  color: #ff0000
  font-size: 18px;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    background: #eee;
    width: 150px;
    border-radius: 6px;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu li:last-child {
    border: none;
}

.menu a {
    text-decoration: none;
    color: #333;
}